/* Journal page styling*/

/* General styles for the journal page */

#day-container {
    width: 90%;
    max-width: 900px; /* Limit maximum size for readability */
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px solid #0ff;
    padding: 30px;
    margin: 30px auto;
    margin-right: 460px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #0ff;
    transition: 0.3s;
    text-align: left;
    min-height: 300px;
    overflow: hidden; /* Prevent accidental text overflow */
}

/* Hover Effect */
#day-container:hover {
    border-color: #ff0;
    box-shadow: 0px 0px 20px #ff0;
    transform: scale(1.02);
}


/* text formatting */
.journal-entry h2 {
    text-align: center;
    font-size: 30px;
}

.journal-entry p {
    font-size: 26px;
    line-height: 35px;
    font-size: 18px;
}
