/* Pokemon teams page styling*/


/* Top navigation bar (under header) */
#team-nav {
    font-family: 'Lucida Bright';
    background-color: #1a1f2b;
    padding: 10px;
    text-align: center;
    margin-left: 250px; /* Offset for the sidebar */
    width: calc(100% - 220px); /* Ensures it's the remaining width after accounting for the sidebar */
    max-width: 100%; /* Prevents overflow */
    box-sizing: border-box; /* Ensures padding is included in width calculation */
    position: relative;
    margin-right: 20px; /* Centers it horizontally */
    margin-left: auto; /* Ensures the element is centered */
}

    /* Center the links inside the top navigation */
    #team-nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

        #team-nav ul li {
            margin: 0 15px; /* Space out the list items */
        }

            #team-nav ul li a {
                color: #58a6ff;
                text-decoration: none;
                font-weight: bold;
            }

/* Tables */
table {
    width: 80%;
    margin: 20px auto;
    margin-left: 250px;
    border-collapse: collapse;
    background: #161b22;
    color: lightskyblue;
    text-shadow: 2px 2px 4px;
    text-align: center;
    font-family: 'Lucida Bright';
    font-size: 20px;
    z-index: 0; /* Ensure it's on top of other elements */
    table-layout: fixed; /* Ensures consistent column sizing */
}


    table td, table th {
        padding: 5px; /* Add padding to each cell */
        border: 1px solid #333; /* Border between each cell */
    }

    table img {
        width: 80px;
        height: auto;
    }
        /* Align moveset list to the left */
        table td ul {
            list-style-position: inside;
            margin: 0;
            padding-left: 0;
            text-align: left;
        }

        table td li {
            padding-left: 0;
        }

    /* Add space between rows */
    table tr {
        margin-bottom: 10px; /* Adds space below each row */
    }

        table tr:not(:last-child) {
            border-bottom: 2px solid #0ff; /* Adds a cyan-colored border between rows, but not after the last one */
        }

/* Specific color styling for game titles */

#blue h2 {
    color: blue; /*Blue version game title color*/
    text-shadow: 2px 2px 4px white;
    margin-left: 100px;
}

#leafgreen h2 {
    color: lawngreen; /* LeafGreen game title color */
    text-shadow: 2px 2px 4px black;
    margin-left: 100px;
}

#emerald h2 {
    color: darkgreen; /* Emerald game title color */
    text-shadow: 2px 2px 4px white;
    margin-left: 100px;
}

#platinum h2 {
    color: gold; /* Platinum game title color */
    text-shadow: 2px 2px 4px black;
    margin-left: 100px;
}
