/* Global styles */

body {
    background: linear-gradient(45deg, #291ECD, #14C2DD, #21DD14);
    background-size: 300% 300%;
    animation: neonFlow 10s infinite alternate;
    overflow-x: hidden;
    font-family: 'Lucida Bright';
    color: #0ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

@keyframes neonFlow {
    0% {
        filter: brightness(1);
        background-position: 0% 50%;
    }

    100% {
        filter: brightness(1.2);
        background-position: 100% 50%;
    }
}


/* global header */
header {
    color: white;
    padding: 30px;
    letter-spacing: 3px;
    width: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 4px black;
}

/* Left Navigation pane */
nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 120%;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

        nav ul li {
            margin: 20px 0;
        }

    nav a {
        color: white;
        text-decoration: none;
        font-size: 10px;
        display: block;
        padding: 10px;
        transition: 0.3s;
    }

        nav a:hover {
            color: skyblue;
            text-shadow: 0 0 10px #ff0;
        }
